.task {
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
}

.task-title {
    cursor: move;
    text-align: center;
    border-bottom: 2px solid darkblue;
}

.task-info {

}

.task-info-row {
    width: 290px;
}
.task-info-name {
    display:inline-block;
    padding-right: 3px;
    text-align: right;
    width:100px;
    height: 20px;
    vertical-align: top;
}

.task-info-value {
    display:inline-block;
    width:170px;
    overflow:hidden;
    max-height: 40px;
    white-space: nowrap;
}

.tasks-in-progress, .tasks-todo, .tasks-done {
    min-height: 110px;
    min-width: 32%;
}

.task-buttons button {
    width: 100px;
}

.new-issue-modal textarea {
    width:80%;
}
.hover-status-progress{
    background-color: lightgoldenrodyellow;
}
.hover-status-todo{
    background-color: lightcoral;
}
.hover-status-done{
    background-color: #9d9d9d;
}

.in-progress-column,
.todo-column,
.closed-column {
    font-weight: bold;
    line-height: 30px;
    display:inline-block;
    width:100%;
}

.in-progress-column {
    background-color: lightgoldenrodyellow;
}
.todo-column {
    background-color: lightcoral;
}
.closed-column {
    background-color: grey;
    color:white;
}

.task-type-1 {
    background-color: lightgreen;
}
.task-type-2 {
    background-color: orange;
}
.task-type-3 {
    background-color: lightblue;
}
.more-actions-btn {
    height:20px;
}