{% extends "main.html" %}
{% block content %}
<section class="my-recent-actions float-left">
    <div class="activity-title">
        My history
        <img src="{{static_url('img/loading.gif')}}" title="loading..." id="loading_activity_my" />
    </div>
    <ul id="my_activity_list">
    </ul>
</section>
<section class="all-recent-actions float-left">
    <div class="activity-title">
        Recent activity
        <img src="{{static_url('img/loading.gif')}}" title="loading..." id="loading_activity_all" />
    </div>
    <ul id="all_activity_list">
    </ul>
</section>
<div class="clear"></div>
</div>
{% end %}